   <footer class="text-center text-light bg-dark">

      <div class="container p-4">
        <!-- Section: Iframe -->
        <section class="">
          
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
              
              <div class="ratio ratio-16x9">
               
                <iframe
                  class="shadow-1-strong rounded"
                  src="https://www.youtube.com/embed/vlDzYIIOYmM"
                  title="YouTube video"
                  allowfullscreen ="true"
                >
                
                
                </iframe>



              </div>
            </div>
          </div>
        </section>
        <!-- Section: Iframe -->
      </div>
      <!-- Grid container -->
    </footer>