


    <div class="container bg-dark text-light mt-3">

      <div class="h1 text-center">Dashboard For Admin</div>
      <a class="text-dark" href="/home"> Home </a>

      <div class="row">
        <div class="col-sm-9 p-3 bg-success text-white">UseFull Data </div>
        <div class="col-sm-3 p-3 bg-dark text-white">Deleted Data</div>
      </div>

    </div>

    <h1 class="mt-3 container"> List of user's Registered </h1>

    <div class="container">

      <div class="row">

        <table class="col-5 mt-5 me-5 table-sm table-hover">
          <thead class="bg-dark text-light">
            <tr class="text-uppercase">
              <th> userId</th>
              <th> username</th>
              <th> email</th>
              <th> password</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td> 123</td>
              <td> irfan</td>
              <td> irfanusuf33@gmail.com</td>
              <td> ****** </td>
            </tr>

            <tr>
              <td> 123</td>
              <td> irfan</td>
              <td> irfanusuf33@gmail.com</td>
              <td> ****** </td>
            </tr>

            <tr>
              <td> 123</td>
              <td> irfan</td>
              <td> irfanusuf33@gmail.com</td>
              <td> ****** </td>
            </tr>

            <tr>
              <td> 123</td>
              <td> irfan</td>
              <td> irfanusuf33@gmail.com</td>
              <td> ****** </td>
            </tr>

          </tbody>

        </table>

        <table class="col-6 mt-5 ms-5 table-sm table-hover">
          <thead class="bg-dark text-light">
            <tr class="text-uppercase">
              <th> userId</th>
              <th> username</th>
              <th> email</th>
              <th> password</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td> 123</td>
              <td> irfan</td>
              <td> irfanusuf33@gmail.com</td>
              <td> ****** </td>
            </tr>

            <tr>
              <td> 123</td>
              <td> irfan</td>
              <td> irfanusuf33@gmail.com</td>
              <td> ****** </td>
            </tr>

            <tr>
              <td> 123</td>
              <td> irfan</td>
              <td> irfanusuf33@gmail.com</td>
              <td> ****** </td>
            </tr>

            <tr>
              <td> 123</td>
              <td> irfan</td>
              <td> irfanusuf33@gmail.com</td>
              <td> ****** </td>
            </tr>

          </tbody>

        </table>

      </div>

    </div>

    <div class="h1 container mt-5">Orders generated This month </div>

    <table class="mt-5 container table table-hover">
      <thead class="bg-dark text-light">
        <tr class="text-uppercase p-2  ">
          <th> OrderId</th>
          <th> Order</th>
          <th> CustomerId</th>
          <th> Shipping Partner</th>
          <th> Action</th>
        </tr>
      </thead>

      <tbody class="p-2">
        <tr>
          <td> 123</td>
          <td> Harry potter </td>
          <td> 78654</td>
          <td> Ecom Express </td>
          <td>
            <button class="btn btn-outline-primary">Execute</button>
            <button class="btn btn-success">Done</button>
          </td>

        </tr>


          <tr>
          <td> 123</td>
          <td> Harry potter </td>
          <td> 78654</td>
          <td> Ecom Express </td>
          <td>
            <button class="btn btn-outline-primary">Execute</button>
            <button class="btn btn-success">Done</button>
          </td>

        </tr>


          <tr>
          <td> 123</td>
          <td> Harry potter </td>
          <td> 78654</td>
          <td> Ecom Express </td>
          <td>
            <button class="btn btn-outline-primary">Execute</button>
            <button class="btn btn-success">Done</button>
          </td>

        </tr>

      </tbody>

    </table>

 