

<div class="container mt-5 mb-5 d-flex">


<div class="card me-3" style="width: 18rem;">
  <img src="assets/hacker1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Read More </a>
  </div>
</div>



<div class="card me-3" style="width: 18rem;">
  <img src="assets/hacker2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="assets/hacker3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>





</div>


{{#if certain}}


    <div class="container d-flex justify-content-center"> 


     <div class="btn-group " role="group" aria-label="First group">
    <button type="button" class="btn btn-primary"><</button>
    <button type="button" class="btn btn-primary">1</button>
    <button type="button" class="btn btn-primary">2</button>
    <button type="button" class="btn btn-primary">3</button>
    <button type="button" class="btn btn-primary">4</button>
    <button type="button" class="btn btn-primary"> > </button>
  </div>
</div>


{{/if}}

 

