<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML | view page</title>
</head>
<body>
    <h1 style="text-align: center;"> this is the h1 tag  of html </h1>
</body>
</html>