<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>

  </head>
  <body>

    <form class="container p-5 mt-4" action="/register" method="post">

      <h1 class="mb-5"> Register</h1>

      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
        />

        <div id="emailHelp" class="form-text">We'll never share your email with
          anyone else.</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username" />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
        />
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
      </div>

      {{#if message}}

        <p class="text-danger"> {{message}} </p>

      {{/if}}

      <button type="submit" class="btn btn-success">Register With Us </button>

    </form>

  </body>
</html>